@import "tailwindcss";

@theme {
  --color-main: #2563eb;

  --font-pretendard: var(--font-pretendard);
  --font-noto-sans-kr: var(--font-noto-sans-kr);
  --font-nanum-gothic: var(--font-nanum-gothic);

  --breakpoint-desktop: 56.25rem; /* 900px / 16 */
}

@layer utilities {
  .shadow-slider-mobile {
    box-shadow: 0px 5px 15px 0px #00000033;
  }
  .shadow-default {
    box-shadow: 0px 2px 10px 0px #00000025;
  }
}
