@import "tailwindcss";

@theme {
  --color-main: #2563eb;

  --font-pretendard: var(--font-pretendard);
  --font-noto-sans-kr: var(--font-noto-sans-kr);
  --font-nanum-gothic: var(--font-nanum-gothic);

  --breakpoint-desktop: 56.25rem; /* 900px / 16 */
}

@layer base {
  /* 모든 버튼 계열에 기본으로 cursor-pointer 적용 */
  button,
  [role="button"],
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    @apply cursor-pointer;
  }

  /* 비활성화된 버튼은 다시 기본 커서로 */
  button:disabled,
  [role="button"][aria-disabled="true"],
  input[type="button"]:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled {
    @apply cursor-default;
  }
}

@layer utilities {
  .shadow-slider-mobile {
    box-shadow: 0px 5px 15px 0px #00000033;
  }
  .shadow-default {
    box-shadow: 0px 2px 10px 0px #00000025;
  }
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  height: 100%;
}
